body { 
	background-color: rgb(248, 145, 13);
	margin: 0;
	padding: 0;
}


.float-left {
	float:left;
}
.float-right {
	float:right;
}
.clear {
	clear:both;
}

.cp-elem {
	margin: 10px;
	font-family: 'Malgun Gothic';
}

#entire {
	position: absolute;
	bottom: 7px;
	width: 100%;
	overflow: hidden;
}

#KOINICHI {
	position: relative;
	margin: 15px auto;
	width: 140px;
	height: 135px;
}

#top {
	height: 55px;
}
.antenna {
	position: relative;
	top: 53px;
	bottom: 0;
	background-color: #fff;
	width: 70px;
	height: 8px;
	border-radius: 15px;
}
#left-antenna {
	left: 0px;
	transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
}
#right-antenna {
	right: 0px;
	transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-webkit-transform-origin: 0% 50%;
}




#body {
	height: 70px;
}
#face {
    margin: 0px auto;
	border-radius: 5px;
	border: 7px solid #fff;
	width: 139px; 
	height: 70px;
    box-sizing: border-box;
}
.eye {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #fff;
} .eye:hover { box-shadow: 0px 0px 10px #fff; }
#left-eye {
	top : 13px;
	left: 18px;
} 
#right-eye {
	top : 13px;
	right: 19px;
}

#mouth {
    margin: 10px auto;
	border-radius: 100%;
	width: 18px;
	height: 15px;
	background-color: #fff;
} #mouth:hover { box-shadow: 0px 0px 15px #fff; }


.arm {
	border: none;
	background-color: #fff;
	width: 37px;
	height: 8px;
	border-radius: 25px;
	
	transform: rotate(-50deg);
}

#left-arm {
	position: relative;
	margin-top: 25px;
	margin-left: -32px;
	transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
}
#right-arm {
	position: relative;
	margin-top: -46px;
	margin-right: -32px;
	transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-webkit-transform-origin: 0% 50%;
}

#bottom {
	height: 10px;
}
.leg {
	position: relative;
	background-color: #fff;
	height: 10px;
	width: 8px;
}
#left-leg {
	left: 13px;
}
#right-leg {
	right: 13px;
}

#ground {
	height: 8px;
	background-color: #fff;
}


#control-panel {
	position: fixed;
	top: 50px;
	left: 50px;
}